# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
*.tmp
*.bak

# App generated
terminal_ayarlar.json
workspaces.json

# Datasets and AI Weight Files
*.jsonl
*.gguf
*.safetensors
